/*---- Generelle indstillinger ------ */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

img {
    width: 100%;
}


section {
    width: 100%;
    margin: 0 auto;
}

sectionwrapper {
    margin-top: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    font-weight: lighter;
}

/*---- Generelle indstillinger  SLUT ------ */
/***--------------Menu-----------***/

#logo {
    background-image: url(billeder/logo.svg);
    height: 7vw;
    width: 14vw;
    background-size: cover;
    position: absolute;
    top: -0.5vw;
    left: 0vw;
}

header {
    width: 100vw;
    background-color: #a07d6a;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;

}


header nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}


header a {
    padding: 0.5rem;
    display: flex;
    color: white;
}


header nav a:visited {
    color: #ffffff;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

#menuknap {
    display: inline-block;
    color: white;
    margin: 0.5rem;
}

/********menu slut *******/

/********splash *******/

#splash {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 67% 10%;
    max-width: none;
}

.video_container {
    position: absolute;
    /*
    top: 0;
    bottom: 0;
*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video_container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%;
    min-height: 100%;

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#logo_splash {
    background-image: url(billeder/logo.svg);
    height: 30vw;
    width: 60vw;
    background-size: cover;
    position: absolute;
    top: 20vw;
    left: 20vw;
}

#splash_produkter {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/splash_produkter.jpg);
    background-size: cover;
    background-position: 67% 10%;
    max-width: none;
}

#overskrift h1 {
    position: relative;
    left: 60vw;
    top: 40vw;
    color: white;
    font-size: 4rem;
    margin: 0;
}

#splash_behandling {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/slapsh_behandlinger.jpg);
    background-size: cover;
    background-position: 67% 10%;
    max-width: none;
}

/********splash slut *******/

/********velkommen *******/

#velkommen .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#velkommen h1 {
    margin: 0.1rem auto;
}

#velkommen .col_text {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 1rem;
}

#velkommen .col_wide {
    flex-grow: 1;
    flex-basis: 400px;
    object-fit: cover;
}

#velkommen figure {
    margin: 0;
}


/********velkommen slut *******/

/********* om *********/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap-reverse;
    border-color: #c7aea0;
    border-style: solid;
}

#om h1 {
    margin: 0.1rem auto;
}

#om figure {
    margin: 0 1rem;
}

#om .col_img {
    flex-grow: 1;
    flex-basis: 200px;

}

#om .col_txt {
    flex-grow: 2;
    flex-basis: 700px;
    margin-right: 1rem;
    margin-left: 2rem;
}


/****** om slut ******/

/****** Instagram ******/

#instagram h1 {
    text-align: center;
    margin: 0;
}

#instagram .ig_link {
    text-align: center;
    margin-bottom: 1rem;
}

#instagram a {
    text-decoration: none;
    color: #c7aea0;
}


#instagram .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#instagram .image {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 0.8rem;

    display: flex;
    /*
    flex-direction: column;
    justify-content: space-between;
*/

}


/****** Instagram slut ******/

/*** footer ***/

#footer {
    padding: 2rem;
    background-color: #a07d6a;
}


#footer h1 {
    color: white;
    font-size: 2rem;
}

#footer .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#footer .aabningstider p {

    border-bottom-style: solid;
    border-bottom-width: thin;
    color: white;
    word-spacing: 8rem;
}

#footer .kontakt p {
    color: white;
}

#footer .kontakt a {
    color: #c7aea0;
}

#footer .aabningstider .kontakt .some {
    flex-grow: 0;
    flex-basis: 500px;
}

#footer .some {
    display: flex;
}


.insta {
    background-image: url(billeder/ig_logo.svg);
    background-size: cover;
    padding: 2rem;
    margin-right: 2rem;
    margin-left: 4rem;
    height: 10.3vw;
    width: 10.2vw;
}

.face {
    background-image: url(billeder/fb_logo.svg);
    background-size: cover;
    padding: 2rem;
    height: 10.3vw;
    width: 10.2vw;
}

.andcopy {
    color: white;
    text-align: center;
    padding: 1rem;
}

/*****produkter****/

#produkter .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #453832;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
}



#produkter .col {
    flex-basis: 200px;
    flex-grow: 1;
    padding: 1rem;

}

#produkter h2 {
    color: #453832;
}

#produkter .bottom {
    /*    hjælp få til bunden*/
    border: 1px solid #c7aea0;
    margin: 0.1rem;
    background-color: #c7aea0;
    text-align: center;
    padding: 0.1rem;
    color: white;
}

#overskrift .exuviance h1 {

    position: absolute;
    top: 40vw;
    left: 60vw;

    color: white;
    font-size: 5.5rem;
    margin: 0;
}


#container1,
#container2,
#container3 {

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: x mandatory;


    /*height: 50vw;
    width: 100vw;*/
}



img {
    width: 100%;
    scroll-snap-align: start;


}

/***Kontakt***********************/

#kontakt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 5rem;
    margin: 1rem;
    border-color: #c7aea0;
    border-style: solid;
}

#kontakt h1 {
    color: #453832;
}

#kontakt a {
    color: #c7aea0;
}

#kontakt .aabningstider p {
    border-bottom-style: solid;
    border-bottom-width: thin;
    word-spacing: 15rem;
}

#kontakt .aabningstider .kontakt {
    flex-grow: 1;
    flex-basis: 200px;
}

/******Behandlinger*****/


#behandlinger .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#behandlinger .col {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 0.5rem 0.1rem;

}

#behandlinger h2,
a {
    text-decoration: none;
    color: black;
    text-align: center;
}

/******Behandlinger SLUT*****/


/******Ansigtsbehandlinger*****/

#ansigtsbehandlinger h1 {
    color: #453832;
}


#ansigtsbehandlinger .sectionwrapper {
    padding: 1rem;
    margin: 2rem;
}


#col_box1,
#col_box2,
#col_box3,
#col_box4 {
    display: flex;
    flex-wrap: wrap;

}

.box {
    flex-grow: 1;
    flex-basis: 300px;
    border: 1px solid #c7aea0;
    margin: 1.5px;
    background-color: #c7aea0;
}

.box p {
    margin: 10px;
    color: white;
}

.box a {
    font-weight: bold;
    text-decoration: none;
    color: #563D31;
}

#overskrift .and h1 {

    position: absolute;
    top: 56vw;
    left: 45vw;

    color: white;
    font-size: 3.5rem;
    margin: 0;
}

/******Ansigtsbehandlinger SLUT*****/

/******Online booking*****/

#booking {
    padding: 2rem;
}

.accordion {
    background-color: #c7aea0;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 20rem;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #a17d6b;
}

.accordion:after {
    content: '\002B';
    color: #453832;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/******Online booking SLUT*****/


/**** media INDSTILLINGER **/

@media only screen and (min-width:800px) {

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header li {
        display: inline-block;
        letter-spacing: 1px;

    }

    header nav {
        padding: 0.1rem;
    }


    header nav li {
        padding: 0.3rem;
        background-color: transparent;
        margin: 0.8rem;
        text-decoration: none;
        color: black;
    }
}

@media only screen and (min-width:800px) {
    #footer .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #footer .aabningstider p {
        word-spacing: 15rem;
    }

    #footer .aabningstider .kontakt .some {
        flex-grow: 1;
        flex-basis: 500px;
        padding: 1.2rem;
    }

    #footer .some {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    .insta {
        background-image: url(billeder/ig_logo.svg);
        background-size: cover;
        height: 5.3vw;
        width: 5.2vw;
        margin: 0;
    }

    .face {
        background-image: url(billeder/fb_logo.svg);
        background-size: cover;
        height: 5.3vw;
        width: 5.2vw;
    }

    .andcopy {
        color: white;
        text-align: center;
        padding: 1rem;
    }
}
