/*---- Generelle indstillinger ------ */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

img {
    width: 100%;
}


section {
    width: 100%;
    margin: 0 auto;
}

sectionwrapper {
    margin-top: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    font-weight: lighter;
}

/*---- Generelle indstillinger  SLUT ------ */
/***--------------Menu-----------***/

#logo {
    height: 7vw;
    width: 14vw;
    background-size: cover;
    position: absolute;
    top: -0.5vw;
    left: 0vw;
}

header {
    width: 100vw;
    background-color: #a07d6a;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;

}


header nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}


header a {
    padding: 0.5rem;
    display: flex;
    color: white;
}


header nav a:visited {
    color: #ffffff;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

#menuknap {
    display: inline-block;
    color: white;
    margin: 0.5rem;
}

/********menu slut *******/

/********splash *******/

#splash {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 67% 10%;
    max-width: none;
}

.video_container {
    position: absolute;
    /*
    top: 0;
    bottom: 0;
*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video_container video {
    /* 100% bred og høj */
    min-width: 100%;
    min-height: 100%;

    /* Så videoen ikke bliver strukket */
    width: auto;
    height: auto;

    /* Centrering af videoen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#logo_splash {
    background-image: url(billeder/logo.svg);
    height: 40vw;
    width: 80vw;
    background-size: cover;
    position: absolute;
    top: 70vw;
    left: 10vw;
}

#splash_produkter {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/splash_produkter.jpg);
    background-size: cover;
    background-position: 67% 10%;
    max-width: none;
}

.promo_video {
    display: flex;
    align-items: center;
    align-content: center;
}

.promo_video video {
    width: 100%;
    max-width: 800px;
    margin: auto;

}

#splash_behandling {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/slapsh_behandlinger.jpg);
    background-size: cover;
    background-position: 67% 10%;
    max-width: none;
}

/********splash slut *******/

/********velkommen *******/

#velkommen .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

#velkommen h1 {
    margin: 0.1rem auto;
}

#velkommen .col_text {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 1rem;
}

#velkommen .col_wide {
    flex-grow: 1;
    flex-basis: 400px;
    object-fit: cover;
}

#velkommen figure {
    margin: 0;
}


/********velkommen slut *******/

/********* om *********/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap-reverse;
    border-bottom: solid #c7aea0;
    border-top: solid #c7aea0;
}

#om h1 {
    margin: 0.1rem auto;
}

#om figure {
    margin: 0 1rem;
}

#om .col_img {
    flex-grow: 1;
    flex-basis: 300px;

}

#om .col_txt {
    flex-grow: 1;
    flex-basis: 300px;
    margin-right: 1rem;
    margin-left: 2rem;
}


/****** om slut ******/

/****** Promo Video ******/
.promo_video {
    display: flex;
    align-items: center;
    align-content: center;
    border-bottom: solid #c7aea0;
    margin-bottom: 2rem;
    padding-bottom: 2rem;

}

.promo_video video {
    width: 100%;
    max-width: 800px;
    margin: auto;

}

/****** Promo Video SLUT ******/

/****** Instagram ******/

#instagram h1 {
    text-align: center;
    margin: 0;

}

#instagram .ig_link {
    text-align: center;
    margin-bottom: 1rem;
}

#instagram a {
    text-decoration: none;
    color: #c7aea0;
}


#instagram .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#instagram .image {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 0.8rem;

    display: flex;
    /*
    flex-direction: column;
    justify-content: space-between;
*/

}


/****** Instagram slut ******/

/*** footer ***/

#footer {
    padding: 2rem;
    background-color: #a07d6a;
}


#footer h1 {
    color: white;
    font-size: 2rem;
}

#footer .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#footer .aabningstider p {

    border-bottom-style: solid;
    border-bottom-width: thin;
    color: white;
    word-spacing: 8rem;
}

#footer .kontakt p {
    color: white;
}

#footer .kontakt a {
    color: #c7aea0;
}

#footer .aabningstider .kontakt .some {
    flex-grow: 0;
    flex-basis: 500px;
}

#footer .some {
    display: flex;
}


.insta {
    background-size: cover;
    margin-right: 2rem;
    margin-left: 4rem;
    height: 10.3vw;
    width: 10.2vw;
}

.face {
    background-size: cover;
    height: 10.3vw;
    width: 10.2vw;
}

.andcopy {
    color: white;
    text-align: center;
    padding: 1rem;
}

/*****produkter****/

#produkter .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    margin: 2rem;
    overflow: hidden;
    border: solid #c7aea0;
}

#produkter h2 {
    margin: 0;
}

#produkter .col {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 0.5rem;

}

#produkter h1 {
    color: #453832;
    margin-left: 1rem;
}

#produkter h2 {
    color: #453832;
}

#produkter .bottom {
    max-width: 15rem;
    margin: 0.1rem;
    background-color: #c7aea0;
    text-align: center;
    padding: 0.1rem;
    color: white;
}


#container1,
#container2,
#container3 {

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    /*    scroll-snap-points-x: repeat(100%);*/
    scroll-snap-type: x mandatory;
}

img {
    width: 100%;
    scroll-snap-align: start;
}

/***Kontakt***********************/

#kontakt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 3rem;
    margin: 1rem;
    border-color: #c7aea0;
    border-style: solid;
}

#kontakt h1 {
    color: #453832;
}

#kontakt a {
    color: #c7aea0;
}

#kontakt .col_1 p {
    border-bottom-style: solid;
    border-bottom-width: thin;
    word-spacing: 3rem;
}

#kontakt .col_1 .col_2 {
    flex-grow: 1;
    flex-basis: 400px;
    padding: 1.2rem;
}


/******Behandlinger*****/


#behandlinger .sectionwrapper {
    display: flex;
    flex-wrap: wrap;

}

#behandlinger .col {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 0.5rem 0.1rem;

}

#behandlinger h2,
a {
    text-decoration: none;
    color: black;
    text-align: center;
}

/******Behandlinger SLUT*****/


/******Ansigtsbehandlinger*****/

#ansigtsbehandlinger h1 {
    color: #453832;
    margin: 0;
}


#ansigtsbehandlinger .sectionwrapper {
    padding: 1rem;
    margin: 2rem;
}

#ansigtsbehandlinger .col_overall {
    border: solid #a78a7b;
    padding: 0.5rem;
    margin-bottom: 2rem;
}


#col_box1,
#col_box2,
#col_box3,
#col_box4 {
    display: flex;
    flex-wrap: wrap;

}

.box {
    flex-grow: 1;
    flex-basis: 300px;
    border: 1px solid #c7aea0;
    margin: 1.5px;
    background-color: #c7aea0;
}

.box p {
    margin: 10px;
    color: white;
}

.box a {
    font-weight: bold;
    text-decoration: none;
    color: #563D31;
}

/******Ansigtsbehandlinger SLUT*****/

/******Online booking*****/

#booking {
    padding: 2rem;
}

.accordion {
    background-color: #c7aea0;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 20rem;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5rem;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #a17d6b;
}

.accordion:after {
    content: '\002B';
    color: #453832;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/******Online booking SLUT*****/


/**** media INDSTILLINGER **/

@media only screen and (min-width:800px) {

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header li {
        display: inline-block;
        letter-spacing: 1px;

    }

    header nav {
        padding: 0.1rem;
    }


    header nav li {
        padding: 0.3rem;
        background-color: transparent;
        margin: 0.8rem;
        text-decoration: none;
        color: black;
    }

    #logo_splash {
        background-image: url(billeder/logo.svg);
        height: 30vw;
        width: 60vw;
        background-size: cover;
        position: absolute;
        top: 20vw;
        left: 20vw;
    }
}

@media only screen and (min-width:800px) {
    #footer .sectionwrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #footer .aabningstider p {
        word-spacing: 15rem;
    }

    #footer .aabningstider .kontakt .some {
        flex-grow: 1;
        flex-basis: 500px;
        padding: 1.2rem;
    }

    #footer .some {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    .insta {
        background-size: cover;
        padding: 2rem;
        height: 10.3vw;
        width: 10.2vw;
        margin: 0;
    }

    .face {
        background-size: cover;
        padding: 2rem;
        height: 10.3vw;
        width: 10.2vw;
    }

    .andcopy {
        color: white;
        text-align: center;
        padding: 1rem;
    }
}

@media only screen and (min-width:625px) {
    #kontakt .sectionwrapper {
        padding: 5rem;
    }

    #kontakt .col_1 .col_2 {
        flex-grow: 1;
        flex-basis: 400px;
        padding: 1.2rem;
    }

    #kontakt .col_1 p {
        border-bottom-style: solid;
        border-bottom-width: thin;
        word-spacing: 15rem;
    }
}

@media only screen and (min-width:605px) {
    #behandlinger .col {
        flex-grow: 1;
        flex-basis: 400px;
    }
}

@media only screen and (min-width:800px) {
    #behandlinger .col {
        flex-grow: 1;
        flex-basis: 300px;
    }
}

@media only screen and (min-width:1000px) {
    #om .col_img {
        flex-grow: 1;
        flex-basis: 200px;
    }

    #om .col_txt {
        flex-grow: 2;
        flex-basis: 700px;
        margin-right: 1rem;
        margin-left: 2rem;
    }
}
